.icon-cards {
  position: relative;
  margin: 0;
  color: white;
  perspective: 500px;
  transform-origin: center;
}
.icon-cards__content {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: translateZ(-30vw) rotateY(0);
}
.icon-cards__content.languaje {
  -webkit-animation: languaje 10s infinite cubic-bezier(0.77, 0, 0.175, 1)
    forwards;
}
.icon-cards__content.framework {
  -webkit-animation: framework 15s infinite cubic-bezier(0.77, 0, 0.175, 1)
    forwards;
}
.icon-cards__content.other {
  -webkit-animation: other 25s infinite cubic-bezier(0.77, 0, 0.175, 1) forwards;
}
.icon-cards__item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  transform-origin: center;
}
.carousel-logo {
  width: 30vw;
  height: 25vw;
  max-width: 100px;
  max-height: 100px;
  border-radius: 10%;
}
.carousel-logo.in-modal {
  border: double black 3px;
  margin: 1%;
}

@-webkit-keyframes languaje {
  14.2% {
    transform: translateZ(-25vw) rotateY(0);
  }
  28.4% {
    transform: translateZ(-25vw) rotateY(-60deg);
  }
  42.6% {
    transform: translateZ(-25vw) rotateY(-120deg);
  }
  56.8% {
    transform: translateZ(-25vw) rotateY(-180deg);
  }
  71% {
    transform: translateZ(-25vw) rotateY(-240deg);
  }
  85.2% {
    transform: translateZ(-25vw) rotateY(-300deg);
  }
  100% {
    transform: translateZ(-25vw) rotateY(-360deg);
  }
}
@-webkit-keyframes framework {
  12.5% {
    transform: translateZ(-25vw) rotateY(0);
  }
  25% {
    transform: translateZ(-25vw) rotateY(-51.42deg);
  }
  37.5% {
    transform: translateZ(-25vw) rotateY(-102.8deg);
  }
  50% {
    transform: translateZ(-25vw) rotateY(-154.2deg);
  }
  62.5% {
    transform: translateZ(-25vw) rotateY(-205.68deg);
  }
  75% {
    transform: translateZ(-25vw) rotateY(-257.1deg);
  }
  87.5% {
    transform: translateZ(-25vw) rotateY(-308.52deg);
  }
  100% {
    transform: translateZ(-25vw) rotateY(-360deg);
  }
}
@-webkit-keyframes other {
  7.69% {
    transform: translateZ(-25vw) rotateY(0);
  }
  15.38% {
    transform: translateZ(-25vw) rotateY(-30deg);
  }
  23.07% {
    transform: translateZ(-25vw) rotateY(-60deg);
  }
  30.76% {
    transform: translateZ(-25vw) rotateY(-90deg);
  }
  38.45% {
    transform: translateZ(-25vw) rotateY(-120deg);
  }
  46.14% {
    transform: translateZ(-25vw) rotateY(-150deg);
  }
  53.83% {
    transform: translateZ(-25vw) rotateY(-180deg);
  }
  61.52% {
    transform: translateZ(-25vw) rotateY(-210deg);
  }
  69.21% {
    transform: translateZ(-25vw) rotateY(-240deg);
  }
  76.9% {
    transform: translateZ(-25vw) rotateY(-270deg);
  }
  84.59% {
    transform: translateZ(-25vw) rotateY(-300deg);
  }
  92.28% {
    transform: translateZ(-25vw) rotateY(-330deg);
  }
  100% {
    transform: translateZ(-25vw) rotateY(-360deg);
  }
}

.knowledge {
  display: flex;
  justify-content: space-around;
  margin: 2%;
}
.knowledge-title {
  width: 100%;
  font-weight: bold;
  font-size: 175%;
  padding: 1%;
  margin-bottom: 5%;
  line-height: 100%;
  border-radius: 10px;
  border: solid 3px #336a89;
}
.knowledge-title:hover {
  background-color: #336989ae;
  color: white;
  cursor: pointer;
}
.knowledge-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-block: 2%;
}
.modal {
  display: flex;
  flex-direction: column;
  top: 50% !important;
  left: 50% !important;
  right: 30% !important;
  bottom: auto !important;
  margin-right: -50%;
  transform: translate(-50%, -50%);

  position: absolute;
  inset: 40px;
  border: solid 3px gray;
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 2rem;
  outline: none;
  padding: 20px;
}

.modal .close-modal {
  /* width: 100%; */
  flex-direction: row-reverse;
  display: flex;
  cursor: pointer;
}
.modal .close-modal img {
  right: 2rem;
  top: 2rem;
  width: 2rem;
  height: 2rem;
}
.modal .close-modal img:hover {
  border-radius: 50px;
  background-color: red;
}
.modal .modal-images {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 2%;
}

@media only screen and (max-width: 900px) {
  .knowledge {
    flex-direction: column;
    margin-block: 3%;
  }
  .knowledge-container {
    margin-block: 4%;
  }
  .knowledge-title {
    width: fit-content;
    margin-bottom: 10%;
  }
  .modal {
    right: 20% !important;
    padding: 0px !important;
  }
  .modal .close-modal {
    padding: 10px;
  }
  .carousel-logo.in-modal {
    margin: 0%;
  }
  @-webkit-keyframes languaje {
    14.2% {
      transform: translateZ(-17vw) rotateY(0);
    }
    28.4% {
      transform: translateZ(-17vw) rotateY(-60deg);
    }
    42.6% {
      transform: translateZ(-17vw) rotateY(-120deg);
    }
    56.8% {
      transform: translateZ(-17vw) rotateY(-180deg);
    }
    71% {
      transform: translateZ(-17vw) rotateY(-240deg);
    }
    85.2% {
      transform: translateZ(-17vw) rotateY(-300deg);
    }
    100% {
      transform: translateZ(-17vw) rotateY(-360deg);
    }
  }
  @-webkit-keyframes framework {
    12.5% {
      transform: translateZ(-17vw) rotateY(0);
    }
    25% {
      transform: translateZ(-17vw) rotateY(-51.42deg);
    }
    37.5% {
      transform: translateZ(-17vw) rotateY(-102.8deg);
    }
    50% {
      transform: translateZ(-17vw) rotateY(-154.2deg);
    }
    62.5% {
      transform: translateZ(-17vw) rotateY(-205.68deg);
    }
    75% {
      transform: translateZ(-17vw) rotateY(-257.1deg);
    }
    87.5% {
      transform: translateZ(-17vw) rotateY(-308.52deg);
    }
    100% {
      transform: translateZ(-17vw) rotateY(-360deg);
    }
  }
  @-webkit-keyframes other {
    7.69% {
      transform: translateZ(-17vw) rotateY(0);
    }
    15.38% {
      transform: translateZ(-17vw) rotateY(-30deg);
    }
    23.07% {
      transform: translateZ(-17vw) rotateY(-60deg);
    }
    30.76% {
      transform: translateZ(-17vw) rotateY(-90deg);
    }
    38.45% {
      transform: translateZ(-17vw) rotateY(-120deg);
    }
    46.14% {
      transform: translateZ(-17vw) rotateY(-150deg);
    }
    53.83% {
      transform: translateZ(-17vw) rotateY(-180deg);
    }
    61.52% {
      transform: translateZ(-17vw) rotateY(-210deg);
    }
    69.21% {
      transform: translateZ(-17vw) rotateY(-240deg);
    }
    76.9% {
      transform: translateZ(-17vw) rotateY(-270deg);
    }
    84.59% {
      transform: translateZ(-17vw) rotateY(-300deg);
    }
    92.28% {
      transform: translateZ(-17vw) rotateY(-330deg);
    }
    100% {
      transform: translateZ(-17vw) rotateY(-360deg);
    }
  }
}
/* .icon-cards__item:nth-child(1) {
  transform: rotateY(0) translateZ(25vw);
}
.icon-cards__item:nth-child(2) {
  transform: rotateY(60deg) translateZ(25vw);
}
.icon-cards__item:nth-child(3) {
  transform: rotateY(120deg) translateZ(25vw);
}
.icon-cards__item:nth-child(4) {
  transform: rotateY(180deg) translateZ(25vw);
}
.icon-cards__item:nth-child(5) {
  transform: rotateY(240deg) translateZ(25vw);
}
.icon-cards__item:nth-child(6) {
  transform: rotateY(300deg) translateZ(25vw);
} */
